body{
	overflow-x: hidden;
}
p{
	font-size: 20px;
	
}
label{
	padding: 7px;
	display: table;
	color: #fff;
}
#content{
	width: 70%;
}
#btn-post{
	min-width: 25%;
	max-width: 25%;
}
#posts{
	border: 5px solid #e6e6e6;
	border-radius: 20px;
	padding: 40px 50px;
	color: #D0DEFE;
}
#posts-img{
	padding-top: 5px;
	padding-right: 10px;
	min-width: 102%;
	max-width: 50%;
}
#single_posts{
	border: 5px solid #e6e6e6;
	padding: 40px 50px;
}